<%- include('../partials/head',{page: "categories-manage"}) %>

<h2 class="title is-2"><% if(locals.categories){ %> <%= "Edit Category" %> <% } %> <% if(!locals.categories) { %> <%= "New Category" %> <% } %></h2>

<form method="post" enctype="multipart/form-data" <% if(locals.categories){ categories.forEach((item,index)=> { %>  action="/admin/categories/update/<%= item.id %>" <% })} %> <% if(!locals.categories) { %>  action="/admin/categories/save" <% } %>>
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <% if(locals.categories){ categories.forEach((item,index)=> {%>
            <input class="input" name="name" type="text" placeholder="E.g. Reusable" value="<%= item.name %>">
          <% })} %>
            
          <% if(!locals.categories) { %>
              <input class="input" name="name" type="text" placeholder="E.g. Reusable">  
          <% } %>
          </div>
    </div>
    
    <br>
    <div class="field">
        <div class="buttons is-right">
          <a href="/admin/categories/manage" class="button is-secondary">Back</a>
          <button class="button is-link">Submit</button>
        </div>
    </div>
</form>
<%- include('../partials/foot') %>

              
