<%- include('../partials/head',{page: "types-manage"}) %>

<h2 class="title is-2"><% if(locals.type){ %> <%= "Edit Type" %> <% } %> <% if(!locals.type) { %> <%= "New Type" %> <% } %></h2>

<form method="post" enctype="multipart/form-data" <% if(locals.type){ type.forEach((item,index)=> { %>  action="/admin/types/update/<%= item.id %>" <% })} %> <% if(!locals.type) { %>  action="/admin/types/save" <% } %>>
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <% if(locals.type){ type.forEach((item,index)=> {%>
            <input class="input" name="name" type="text" placeholder="E.g. Electronics" value="<%= item.name %>">
          <% })} %>
            
          <% if(!locals.type) { %>
              <input class="input" name="name" type="text" placeholder="E.g. Electronics">  
          <% } %>
          </div>
    </div>
    
    <br>
    <div class="field">
        <div class="buttons is-right">
          <a href="/admin/types/manage" class="button is-secondary">Back</a>
          <button class="button is-link">Submit</button>
        </div>
    </div>
</form>
<%- include('../partials/foot') %>

              
