<%- include('../partials/head',{page: "items-manage"}) %>
<div class="columns" style="margin-top: 24px;">
  <div class="column">
    <h2 class="title is-2">Items</h2>
  </div>
  <div class="column" style="margin-right: 10px;">
    <div class="buttons is-right">
      <a href="/admin/items/new" class="button is-link">Add New</a>
    </div>
  </div>
</div>
<div id="app">
  <table class="table is-striped is-fullwidth" >
    <thead>
      <tr>
        <th class="has-text-centered">id</th>
        <th class="has-text-centered">Image</th>
        <th class="has-text-centered">Name</th>
        <th class="has-text-centered">Shelf Name</th>
        <th class="has-text-centered">Status</th>
        <th class="has-text-centered">Action</th>
      </tr>
    </thead>
    <tbody>
    <% items.forEach((item,index)=> { %>
        <tr>
            <td class="has-text-centered"><%=item.id %></td>
            <td>
                <figure class="image is-96x96">
                    <img src="/uploads/<%-item.img %>" alt="<%-item.name %>">
                </figure>
            </td>
            <td class="has-text-centered"><%-item.name %></td>
            <td class="has-text-centered"><%-item.shelf_name %></td>
            <td class="has-text-centered">
                <% if(item.status === 0) { %><span class="tag is-primary has-text-black">Available</span><%}%>
                <% if(item.status === 1) { %><span class="tag is-light">Borrowed</span><%}%>
                <% if(item.status === 2) { %><span class="tag is-danger">Broken</span><%}%>
                
            </td>
            <td class="has-text-centered">
            <a href="/admin/items/edit/<%-item.id %>" class="button is-link">Edit</a>
            <a href="/admin/items/delete/<%-item.id %>" class="button is-danger">Delete</a>
            </td>
        </tr>
    <% }) %>
    </tbody>
  </table>
</div>
<script src="/js/vue.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>
<script>
</script>
<%- include('../partials/foot') %>
