<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventory: <%= page %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%=baseUrl %>/css/bulma.min.css" />
    <link rel="stylesheet" href="<%=baseUrl %>/css/animate.css" />
    <link rel="stylesheet" href="<%=baseUrl %>/css/adminstyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
      body{
        font-family: 'Montserrat', sans-serif;
      }
    </style>
  </head>
<body>
        <nav class="navbar is-white" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                  <a class="navbar-item has-text-weight-semibold has-text-link" href="/admin/dashboard">
                    Inventory
                  </a>
              
                  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
              
                <div id="navbarBasicExample" class="navbar-menu">
              
                  <div class="navbar-end">
                        <a href="/logout" class="navbar-item button has-text-weight-semibold has-text-link" style="margin-top: 10px; margin-right: 10px;">
                          <i class="fa-solid fa-right-from-bracket" style="margin-right: 8px;"></i>
                          <small>
                            Log Out
                          </small>      
                        </a>
                  </div>
                </div>
        </nav>
        <div class="columns pt-5">
            <div class="column is-2 mycols">
                    <%- include('sidebar',{'page': page}) %>
            </div>
            <div class="column">